YOUTUBE_API_KEY=your_youtube_api_v3_key_here
KAKAO_JS_KEY=your_kakao_javascript_sdk_key
KAKAO_REST_KEY=your_kakao_rest_api_key
DB_HOST=localhost
DB_NAME=gamrim_db
DB_USER=gamrim_user
DB_PASS=strong_password_here
DB_PORT=3306
ADMIN_INITIAL_PASS=gamrim2026!
